<div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow-lg" style="width: 25rem;">
        <div class="card-body">
            <h2 class="card-title header text-light text-center">New User</h2>

            <form [formGroup]="form">
                <div class="form-group">
                    <div *ngIf="form.controls.username.invalid && !form.controls.username.pristine" class="alert alert-danger">
                        Invalid Nick Name
                    </div>
                    <input formControlName="username" type="text" class="form-control" placeholder="User name">
                </div>
                <div class="form-group">
                    <div *ngIf="form.controls.email.invalid && !form.controls.email.pristine" class="alert alert-danger">
                        Invalid Email Format
                    </div>
                    <input formControlName="email" type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <div *ngIf="form.controls.password.invalid && !form.controls.password.pristine" class="alert alert-danger">
                        Required Password
                    </div>
                    <input formControlName="password" type="password" class="form-control" placeholder="Password">
                </div>
                <div class="d-flex">
                    <div class="form-group">
                        <input formControlName="date" type="date" class="form-control" placeholder="">
                        <div *ngIf="form.controls.date.invalid && !form.controls.date.pristine" class="alert alert-danger">
                            Date is Required
                        </div>
                    </div>
                    <div class="form-group ml-1">
                        <input formControlName="zip" type="text" class="form-control" placeholder="Zip" maxlength="9">
                        <div *ngIf="form.controls.zip.invalid && !form.controls.zip.pristine" class="alert alert-danger">
                            Zip Is Required 
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input formControlName="address" type="text" class="form-control" placeholder="Address">
                    <div *ngIf="form.controls.address.invalid && !form.controls.address.pristine" class="alert alert-danger">
                        Address Is Required 
                    </div>
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Agree terms and conditions</label>
                  </div>
                <div class="d-flex justify-content-between">
                    <a href="/login" class="btn btn-outline-warning">Cancel</a>
                    <button class="btn btn-outline-primary">Register</button>
                </div>
            </form>
            
            
        </div>
    </div>
</div>
